/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Global */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    font-family: 'Anonymous Pro', monospace;


	background: linear-gradient(-45deg, #000000, #212121, #444444, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.pfp{
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    background: linear-gradient(135deg, red, blue 50%, black 50%);
    background-size: 250%;
    background-position: 100%, 100%;
    transition: background 0.5s;
}
.pfp:hover{
    background-position: 0%, 0%;
}

.nlon{
    width: 20%;
    position: absolute;
    top: 85%;
    left: 20%;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    padding: 3px;
    background: linear-gradient(135deg, red, blue 50%, transparent);
    background-size: 250%;
    background-position: 100%, 100%;
    transition: background 0.5s;
    z-index: 2;
}
.nlon:hover{
    background-position: 0%, 0%;
}

.nlprop{
    width: 20%;
    position: absolute;
    top: 117%;
    left: 20%;
    border-radius: 5%;
    transform: translate(-50%, -50%);
    padding: 3px;
    background: linear-gradient(135deg, red, blue 50%, transparent);
    background-size: 250%;
    background-position: 100%, 100%;
    transition: background 0.5s;
    z-index: 2;
}
.nlprop:hover{
    background-position: 0%, 0%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.namep{
    position: relative;
    top: 0%;
    width: 16em;
    margin: 0 auto;
    text-align: center;
    color: white;
}


.description{
    position: relative;
    top: 19%;
    width: 16em;
    font-size: 21px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.htitle{
    position: relative;
    top: 35%;
    font-size: 42px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.neontitle{
    position: relative;
    width: 10%;
    top: 45%;
    font-size: 28px;
    margin: 0 auto;
    text-align: center;
    color: #099fff;
    z-index: 2;
    border-bottom: 2px solid #099fff;
}



.typer {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    color: aliceblue;
    top: 20%;
    margin-left: 15px;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
}

.typer .static{
    font-size: 32px;
}

.typer .line{
    text-align: left;
    color: #b8b8b8;
    list-style: none;
    position: relative;
    left: -20px;
    animation: slider 12s steps(3) infinite normal;
    top: 48px;
}

.typer .line li{ 
    width: 11em;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
    animation: typewriter 4s steps(40) infinite normal both,
    blinkTextCursor 500ms steps(40) infinite normal;
    font-size: 32px;
}

.block{
    position: relative;
    margin: 10% auto 0;
    width: 90%;
    height: 700px;
    background: linear-gradient(0deg, black, rgb(44, 44, 44));
    top: 20%
}

.glow::before,
.glow::after{
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #e6fb04, #ff6600, #00ff66, #00ffff,
    #ff00ff, #ff0099, #6e0dd0, #ff3300, #099fff);
    background-size: 400%;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    z-index: -1;
    animation: animate 20s linear infinite;
}

/*Animation*/

@keyframes animate{
    0%{
        background-position: 0,0;
    }
    50%{
        background-position: 400%,0;
    }
    100%{
        background-position: 0,0;
    }
}

.glow::after{
    filter: blur(40px);
    opacity: 0.33;
}

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 11em;
    }
}

@keyframes slider{
    100%{
        top: -48px;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}
