/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
/* Global */
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: calc(100vh - 8em);
    padding: 4em;
    font-family: 'Anonymous Pro', monospace;


	background: linear-gradient(-45deg, #000000, #212121, #444444, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}
.pfp{
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8px;
    background: linear-gradient(135deg, red, blue 50%, black 50%);
    background-size: 250%;
    background-position: 100%, 100%;
    transition: background 0.5s;
}
.pfp:hover{
    background-position: 0%, 0%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.namep{
    position: relative;
    top: 3%;
    width: 16em;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.typer {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    color: aliceblue;
    top: 20%
}

.typer .static{
    font-size: 32px;
}

.typer .line li{ 
    position: relative;
    top: 45;
    width: 12em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, 0.75);
    font-size: 180%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;transform: translateY(-50%);
    list-style: none;
    color: #b8b8b8;
    font-size: 32px;
    position: relative;
    /*height: 120px;
    /*overflow: hidden;
    line-height: 120px;*/
    margin-left: -18;
    animation: typewriter 3s steps(40) 1s infinite normal both,
    blinkTextCursor 500ms steps(40) infinite normal, slider 11.5s steps(3) infinite;
}

/*Animation*/

@keyframes typewriter {
    from {
          width: 0;
    }
    to {
          width: 12em;
    }
}

@keyframes slider{
    100%{
        top: -45px;
    }
}

@keyframes blinkTextCursor {
    from {
          border-right-color: rgba(255, 255, 255, 0.75);
    }
    to {
          border-right-color: transparent;
    }
}
/*
.typer{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 23%;
    display: flex;
    color: aliceblue;

}

.typer .static{
    font-size: 32px;
}

.typer .dynamic{
    margin-left: 15px;

}
.dynamic li{
    list-style: none;
    color: #b8b8b8;
    font-size: 32px;
    position: relative;
}

.dynamic li::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #b8b8b8;
    animation: typing 3s steps(22) infinite;
    background-color: black;
}

@keyframes typing{
    40%,
    60%{
        left: calc(100% + 30px)
    }
    100%{
        left: 0;
    }
}

*/
/*Animation*/
